# Aviation Accidents Analysis

You are part of a consulting firm that is tasked to do an analysis of commercial and passenger jet airline safety. The client (an airline/airplane insurer) is interested in knowing what types of aircraft (makes/models) exhibit low rates of total destruction and low likelihood of fatal or serious passenger injuries in the event of an accident. They are also interested in any general variables/conditions that might be at play. Your analysis will be based off of aviation accident data accumulated from the years 1948-2023. 

Our client is only interested in airplane makes/models that are professional builds and could potentially still be active. Assume a max lifetime of 40 years for a make/model retirement and make sure to filter your data accordingly (i.e. from 1983 onwards). They would also like separate recommendations for small aircraft vs. larger passenger models. **In addition, make sure that claims that you make are statistically robust and that you have enough samples when making comparisons between groups.**


In this summative assessment you will demonstrate your ability to:
- **Use Pandas to load, inspect, and clean the dataset appropriately.**
- **Transform relevant columns to create measures that address the problem at hand.**
- conduct EDA: visualization and statistical measures to systematically understand the structure of the data
- recommend a set of airplanes and makes conforming to the client's request and identify at least *two* factors contributing to airplane safety. You must provide supporting evidence (visuals, summary statistics, tables) for each claim you make.

### Make relevant library imports

In [60]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Data Loading and Inspection

### Load in data from the relevant directory and inspect the dataframe.
- inspect NaNs, datatypes, and summary statistics

In [ ]:
#Load the data
df=pd.read_csv("AviationData.csv", encoding='latin1')
df.head()

/var/folders/m9/lwcyfxd94sg7hm7bnk4fz3tr0000gn/T/ipykernel_71717/181304313.py:1: DtypeWarning: Columns (6,7,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("AviationData.csv", encoding='latin1')

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [62]:
df.tail()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

In [63]:
df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

## Data Cleaning

### Filtering aircrafts and events

We want to filter the dataset to include aircraft that the client is interested in an analysis of:
- inspect relevant columns
- figure out any reasonable imputations
- filter the dataset

In [65]:
#Filtering out the years, taking only 1983-2023 
df['Event.Date'] = pd.to_datetime(df['Event.Date'], errors='coerce')
df = df[df['Event.Date'].dt.year >= 1983]

In [66]:
#Keeps only professionally built aircraft
df = df[df['Amateur.Built'] != 'Yes']
#Ensures we can group and analyze aircraft types
df = df[df['Make'].notna() & df['Model'].notna()]
df[['Total.Fatal.Injuries', 'Total.Serious.Injuries', 'Total.Uninjured', 'Aircraft.damage']].isna().sum()

Total.Fatal.Injuries      10188
Total.Serious.Injuries    11131
Total.Uninjured            4937
Aircraft.damage            3088
dtype: int64

In [67]:
#dropping columns that has many NaN values
df.drop(['Latitude', 'Longitude', 'Schedule','Air.carrier','FAR.Description', 'Aircraft.Category', 'Airport.Code'],
        axis=1,
        inplace=True,
        errors='ignore')

In [68]:

#Standardized for grouping
df['Make'] = df['Make'].str.strip().str.lower()
df['Model'] = df['Model'].str.strip().str.lower()
#checking duplicates
df.duplicated().sum()

0

In [69]:
##dropping columns that has many NaN values
df.drop(['Schedule', 'Air.carrier'], axis=1, inplace=True ,errors='ignore')

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 76986 entries, 3600 to 88888
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                76986 non-null  object
 1   Investigation.Type      76986 non-null  object
 2   Accident.Number         76986 non-null  object
 3   Event.Date              76986 non-null  datetime64[ns]
 4   Location                76935 non-null  object
 5   Country                 76777 non-null  object
 6   Airport.Name            45273 non-null  object
 7   Injury.Severity         76008 non-null  object
 8   Aircraft.damage         73898 non-null  object
 9   Registration.Number     75730 non-null  object
 10  Make                    76986 non-null  object
 11  Model                   76986 non-null  object
 12  Amateur.Built           76888 non-null  object
 13  Number.of.Engines       71257 non-null  float64
 14  Engine.Type             70291 non-null  object
 15  Purpose.of.flight       70909 non-null  object
 16  Total.Fatal.Injuries    66798 non-null  float64
 17  Total.Serious.Injuries  65855 non-null  float64
 18  Total.Minor.Injuries    66375 non-null  float64
 19  Total.Uninjured         72049 non-null  float64
 20  Weather.Condition       72626 non-null  object
 21  Broad.phase.of.flight   52805 non-null  object
 22  Report.Status           70994 non-null  object
 23  Publication.Date        64138 non-null  object
dtypes: datetime64[ns](1), float64(5), object(18)
memory usage: 14.7+ MB

In [71]:
df.describe()

,Event.Date,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,76986,71257.000000,66798.000000,65855.000000,66375.000000,72049.000000
mean,2000-03-22 11:41:24.451718272,1.163128,0.681098,0.284732,0.363134,5.914058
min,1983-01-01 00:00:00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1989-10-06 00:00:00,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1998-12-19 00:00:00,1.000000,0.000000,0.000000,0.000000,1.000000
75%,2009-09-18 00:00:00,1.000000,0.000000,0.000000,0.000000,2.000000
max,2022-12-29 00:00:00,8.000000,349.000000,161.000000,200.000000,699.000000
std,NaN,0.466213,5.858820,1.645736,1.858205,29.654275

### Cleaning and constructing Key Measurables

Injuries and robustness to destruction are a key interest point for the client. Clean and impute relevant columns and then create derived fields that best quantifies what the client wishes to track. **Use commenting or markdown to explain any cleaning assumptions as well as any derived columns you create.**

**Construct metric for fatal/serious injuries**

*Hint:* Estimate the total number of passengers on each flight. The likelihood of serious / fatal injury can be estimated as a fraction from this.

In [72]:
# Fill missing values with 0 for all injury-related columns
injury_cols = ['Total.Fatal.Injuries', 'Total.Serious.Injuries', 
               'Total.Minor.Injuries', 'Total.Uninjured']

df[injury_cols] = df[injury_cols].fillna(0)

In [73]:
#Estimate total number of people aboard the aircraft
df['Total_Aboard'] = (
    df['Total.Fatal.Injuries'] +
    df['Total.Serious.Injuries'] +
    df['Total.Minor.Injuries'] +
    df['Total.Uninjured']
)

In [74]:
#Calculate total serious or fatal injuries
df['Serious_or_Fatal_Count'] = (
    df['Total.Fatal.Injuries'] + df['Total.Serious.Injuries']
)

In [75]:
#Compute the serious/fatal injury rate
# We avoid division by zero by using np.where
df['Serious_or_Fatal_Rate'] = np.where(
    df['Total_Aboard'] > 0,
    df['Serious_or_Fatal_Count'] / df['Total_Aboard'],
    np.nan  # or 0 if you prefer to assume no injuries
)

**Aircraft.Damage**
- identify and execute any cleaning tasks
- construct a derived column tracking whether an aircraft was destroyed or not.

In [ ]:
#Checking the value types in Aircraft.damage
df['Aircraft.damage'].value_counts(dropna=False)

Aircraft.damage
Substantial    55689
Destroyed      15489
NaN             3088
Minor           2604
Unknown          116
Name: count, dtype: int64

In [79]:
## Create a new column that is True if the aircraft was destroyed, False otherwise
df['is_destroyed'] = df['Aircraft.damage'] == 'Destroyed'

In [81]:
df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Airport.Name', 'Injury.Severity',
       'Aircraft.damage', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type',
       'Purpose.of.flight', 'Total.Fatal.Injuries', 'Total.Serious.Injuries',
       'Total.Minor.Injuries', 'Total.Uninjured', 'Weather.Condition',
       'Broad.phase.of.flight', 'Report.Status', 'Publication.Date',
       'Total_Aboard', 'Serious_or_Fatal_Count', 'Serious_or_Fatal_Rate',
       'is_destroyed'],
      dtype='object')

### Investigate the *Make* column
- Identify cleaning tasks here
- List cleaning tasks clearly in markdown
- Execute the cleaning tasks
- For your analysis, keep Makes with a reasonable number (you can put the threshold at 50 though lower could work as well)

### Cleaning the *Make* Column

- Convert all values to lowercase and strip leading/trailing spaces
- Standardize common typos and variations (e.g. "boeing co" → "boeing")
- Drop uncommon makes with fewer than 50 occurrences to ensure statistical robustness
- Optional: Replace missing or unknown makes

In [82]:
df['Make'].value_counts()

Make
cessna                          25754
piper                           14106
beech                            5097
boeing                           2675
bell                             2595
                                ...
better burn llc/startube div        1
t bird                              1
engineering and research            1
byron j. moore                      1
royse ralph l                       1
Name: count, Length: 1876, dtype: int64

In [88]:
# Standardize casing and remove extra spaces
df['Make'] = df['Make'].str.strip().str.lower()
#Replace common variations or typos 
df['Make'] = df['Make'].replace({
    'boeing co': 'boeing',
    'boeing aircraft': 'boeing',
    'cessna aircraft': 'cessna',
    'cessna airplane co': 'cessna',
    'piper aircraft': 'piper',
    'mcdonnell douglas': 'mc donnell douglas'
})
# Step 3: Check how many occurrences each Make has
make_counts = df['Make'].value_counts()
make_counts

Make
cessna                         25764
piper                          14113
beech                           5097
boeing                          2675
bell                            2595
                               ...
american champion aircraft        54
smith, ted aerostar               51
flight design gmbh                50
grumman american avn. corp.       50
boeing stearman                   50
Name: count, Length: 90, dtype: int64

In [ ]:
# Check how many occurrences each Make has
make_counts = df['Make'].value_counts()
# Filter out makes with fewer than 50 occurrences
valid_makes = make_counts[make_counts >= 50].index
df = df[df['Make'].isin(valid_makes)]

df.reset_index(drop=True, inplace=True)

In [89]:
df['Make'].value_counts()

Make
cessna                         25764
piper                          14113
beech                           5097
boeing                          2675
bell                            2595
                               ...
american champion aircraft        54
smith, ted aerostar               51
flight design gmbh                50
grumman american avn. corp.       50
boeing stearman                   50
Name: count, Length: 90, dtype: int64

### Inspect Model column
- Get rid of any NaNs.
- Inspect the column and counts for each model/make. Are model labels unique to each make?
- If not, create a derived column that is a unique identifier for a given plane type.

In [ ]:
# Remove any rows where Model is missing
df = df[df['Model'].notna()]

#Standardize the Model column (remove spaces, lowercase)
df['Model'] = df['Model'].str.strip().str.lower()

# Inspect the most common models 
print(df['Model'].value_counts().head(10))

#Check how many unique makes use each model name
# This helps identify whether the same model name is shared by different manufacturers
model_make_counts = df.groupby('Model')['Make'].nunique().sort_values(ascending=False)
print(model_make_counts.head(10))  # if some are >1, that means the model name is not unique

#Create a new column that combines Make + Model for a unique aircraft type ID
df['Make_Model'] = df['Make'] + ' ' + df['Model']

Model
152          2229
172          1651
172n         1093
pa-28-140     865
172m          759
150           752
172p          665
182           617
180           596
150m          551
Name: count, dtype: int64
Model
500       7
g-164a    7
g-164b    6
g-164     5
aa-5      5
g-164c    5
aa-5b     5
690c      4
700       4
g164-b    4
Name: Make, dtype: int64

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 70556 entries, 3601 to 88888
Data columns (total 29 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                70556 non-null  object
 1   Investigation.Type      70556 non-null  object
 2   Accident.Number         70556 non-null  object
 3   Event.Date              70556 non-null  datetime64[ns]
 4   Location                70508 non-null  object
 5   Country                 70362 non-null  object
 6   Airport.Name            41673 non-null  object
 7   Injury.Severity         69675 non-null  object
 8   Aircraft.damage         67860 non-null  object
 9   Registration.Number     69402 non-null  object
 10  Make                    70556 non-null  object
 11  Model                   70556 non-null  object
 12  Amateur.Built           70469 non-null  object
 13  Number.of.Engines       65657 non-null  float64
 14  Engine.Type             65062 non-null  object
 15  Purpose.of.flight       65162 non-null  object
 16  Total.Fatal.Injuries    70556 non-null  float64
 17  Total.Serious.Injuries  70556 non-null  float64
 18  Total.Minor.Injuries    70556 non-null  float64
 19  Total.Uninjured         70556 non-null  float64
 20  Weather.Condition       66797 non-null  object
 21  Broad.phase.of.flight   50062 non-null  object
 22  Report.Status           65492 non-null  object
 23  Publication.Date        58358 non-null  object
 24  Total_Aboard            70556 non-null  float64
 25  Serious_or_Fatal_Count  70556 non-null  float64
 26  Serious_or_Fatal_Rate   69417 non-null  float64
 27  is_destroyed            70556 non-null  bool
 28  Make_Model              70556 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(8), object(19)
memory usage: 15.7+ MB

In [98]:
df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Airport.Name', 'Injury.Severity',
       'Aircraft.damage', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type',
       'Purpose.of.flight', 'Total.Fatal.Injuries', 'Total.Serious.Injuries',
       'Total.Minor.Injuries', 'Total.Uninjured', 'Weather.Condition',
       'Broad.phase.of.flight', 'Report.Status', 'Publication.Date',
       'Total_Aboard', 'Serious_or_Fatal_Count', 'Serious_or_Fatal_Rate',
       'is_destroyed', 'Make_Model'],
      dtype='object')

In [99]:
df[['Make', 'Model', 'Make_Model', 
    'Total_Aboard', 'Serious_or_Fatal_Count', 'Serious_or_Fatal_Rate', 
    'Aircraft.damage', 'is_destroyed']].head(10)

,Make,Model,Make_Model,Total_Aboard,Serious_or_Fatal_Count,Serious_or_Fatal_Rate,Aircraft.damage,is_destroyed
3601,cessna,182p,cessna 182p,4.0,0.0,0.0,Substantial,False
3602,cessna,182rg,cessna 182rg,2.0,0.0,0.0,Substantial,False
3603,cessna,182p,cessna 182p,1.0,0.0,0.0,Substantial,False
3604,piper,pa-28r-200,piper pa-28r-200,2.0,0.0,0.0,Substantial,False
3605,cessna,140,cessna 140,2.0,0.0,0.0,Substantial,False
3606,balloon works,firefly 7b,balloon works firefly 7b,2.0,1.0,0.5,NaN,False
3607,cessna,340a,cessna 340a,4.0,0.0,0.0,Destroyed,True
3608,north american,t-6g,north american t-6g,2.0,2.0,1.0,Destroyed,True
3609,piper,pa-24-250,piper pa-24-250,3.0,3.0,1.0,Destroyed,True
3610,piper,pa-32-301r,piper pa-32-301r,2.0,0.0,0.0,Substantial,False

### Cleaning other columns
- there are other columns containing data that might be related to the outcome of an accident. We list a few here:
- Engine.Type
- Weather.Condition
- Number.of.Engines
- Purpose.of.flight
- Broad.phase.of.flight

Inspect and identify potential cleaning tasks in each of the above columns. Execute those cleaning tasks. 

**Note**: You do not necessarily need to impute or drop NaNs here.

### Column Removal
- inspect the dataframe and drop any columns that have too many NaNs

### Save DataFrame to csv
- its generally useful to save data to file/server after its in a sufficiently cleaned or intermediate state
- the data can then be loaded directly in another notebook for further analysis
- this helps keep your notebooks and workflow readable, clean and modularized